body {
  background: #0f0f0f;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "No-transition linear ease-in ease-out ease-in-out";
}

.No-transition {
  grid-area: No-transition;
}
.sphere,
.sphere-2,
.sphere-3,
.sphere-4,
.sphere-5 {
  width: 200px;
  height: 200px;
  background-color: green;
  box-shadow: inset -25px -25px 40px rgba(0, 0, 0, 0.5);
}

.sphere {
  animation: transitions 5s none infinite;
  transition: all none 5s;
  /* border-radius: 50%; */
}

.sphere:hover,
.sphere-2:hover,
.sphere-3:hover,
.sphere-4:hover,
.sphere-5:hover {
  width: 100px;
  height: 200px;
  animation-play-state: paused;
}

.linear {
  grid-area: linear;
}

.sphere-2 {
  animation: transitions 5s linear infinite;
  transition: all 5s linear;
  animation-delay: 2.5s;
}

.ease-in {
  grid-area: ease-in;
}

.sphere-3 {
  animation: transitions 5s ease-in infinite;
  transition: all 7.5s ease-in;
  animation-delay: 5s;
}

.ease-out {
  grid-area: ease-out;
}

.sphere-4 {
  animation: transitions 5s ease-out infinite;
  transition: all 10s ease-out;
  animation-delay: 7.5s;
}

.ease-in-out {
  grid-area: ease-in-out;
}

.sphere-5 {
  animation: transitions 5s ease-in-out infinite;
  transition: all 12.5s ease-in-out;
  animation-delay: 10s;
}

@keyframes transitions {
  0% {
    transform: translateY(0vh);
  }
  50% {
    transform: translateY(50vh);
    background: #f02e05;

    border-radius: 50%;
  }
  100% {
    transform: translateY(0vh);
    background: #e9f005;
  }
}
